.footer_area {
    .footer {
        background-color: var(--dark);

        .ftr_social_icon {
            display: flex;
            color: var(--light);

            a {

                i {
                    color: var(--light2);
                    margin-left: 15px;
                    transition: 0.3s;

                    &:hover {
                        color: var(--light);
                    }

                }

            }


        }

        p {
            display: flex;
            justify-content: center;
            color: var(--light2);
            text-transform: capitalize;
            font-size: 13px;
            font-weight: normal;
            margin-top: 5px;

            span {
                text-transform: capitalize;
            }
        }
    }
}