.main_area {
    .header_area {
        #showNav {
            position: fixed;
            width: 50px;
            height: 35px;
            z-index: 999;
            left: 0;
            top: 0;
            background-color: var(--primary);

            span {
                color: var(--light);
                font-size: 20px;
            }
        }

        .activeheader {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 999;
        }

        .header {
            position: fixed;
            left: 0;
            top: 40px;
            width: 70px;
            z-index: 999;
            height: 65vh;
            color: var(--light);
            background-color: var(--primary);

            .container {
                height: 100%;
            }

            .logo {
                h3 {
                    a {
                        color: var(--light);
                        font-size: 20px;
                    }
                }
            }

            .menu {
                width: 400px;

                .ul {
                    li {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        a {
                            text-transform: capitalize;
                            color: var(--light);
                            transition: 0.3s;

                            &:hover {
                                color: var(--hover);
                            }
                        }
                    }

                    #mode {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: auto;

                        .darkSpan {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}