/*responsive area*/
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
   .main_area {
      .feature_area1 {
         .feature1_left {

            .ul {
               flex-direction: column !important;
            }
         }
      }
   }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
   .bg {
      height: 80vh !important;
   }

   .main_area {

      .header_area {
         .header {
            .logo {
               width: 100px !important;
            }

            .menu {
               width: 450px !important;
            }
         }
      }

      .banner_area {
         .banner {
            .banner_left {
               width: 60% !important;
               text-align: left !important;
            }
         }
      }

      .single_sublist {
         flex-direction: row !important;
      }

      .contact_area {
         .contact {
            .contact_us {
               .form {
                  form {
                     flex-direction: row !important;
                     flex-wrap: wrap;
                     justify-content: space-between;
                     gap: 15px;

                     input {
                        flex: 48% 0 0;
                     }
                  }
               }
            }
         }
      }
   }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}