.main_area {

    .testimonial_area {
        .testimonial {
            .owl-stage-outer {
                width: 100%;


            }

            .owl-nav,
            .owl-dots {
                display: none;
            }

            .title_box {
                text-align: center;
                padding-bottom: 15px;
            }

            .testimonials {
                display: flex;

                .single_testimonial {
                    margin-top: 20px;
                    text-align: center;
                    display: flex !important;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    p {
                        color: var(--dark);
                        padding: 10px;
                        margin-bottom: 20px;
                        width: 85%;
                    }

                    .person {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {}

                        h3 {
                            margin-left: 20px;

                            span {
                                display: block;
                                font-size: 13px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }

}