* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    font-size: 14px;
    font-family: 'Poppins', sans-serif, 'roboto', 'lato' !important;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style-type: none;
    transition: all 0.3s;
}

:root {
    --light: #F3F5F4;
    --light2: #B89B9A;
    --dark: #323232;
    --primary: #46639F;
    --secondary: #649BD1;
    --hover: #F09B81;
}

.dark {
    // --light: #323232 !important;
    background-color: #323232;

    .title,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    li {
        color: #F3F5F4 !important;
    }



    .feature_area1,
    .feature_area3,
    .single_price,
    .box {
        background-color: #323232 !important;
    }

    .dark {
        background: none !important;
    }

    .feature1_left {
        .ul {
            li {
                a {
                    background: none !important;
                }
            }
        }
    }

}

dl,
ol,
ul {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

button {
    color: var(--light) !important;
    border: 0 !important;
    border-radius: 0 !important;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: var(--light);
}

ul {
    list-style: none;
}

.text_box1 {
    width: 50%;
    margin: 0 auto !important;
    font-size: 14px;
    margin-bottom: 40px !important;
}

.tboxp {

    width: 100%;
    font-size: 14px;
    color: rgb(0, 0, 0);

}


/*bacground for img*/
.bg {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    height: 80vh;

    &::before {
        position: absolute;
        content: '';
        background-color: var(--dark);
        width: 100%;
        height: 100%;
        opacity: 40%;
        z-index: -1;
        left: 0;
        top: 0;
    }
}

/*title box brefore after*/
.tb {
    text-align: center;
    position: relative;
    font-weight: 800;
    text-transform: capitalize;

    &::before {
        position: absolute;
        content: '';
        border-bottom: 3px solid red;
        width: 60px;
        bottom: 0;
        transform: translate(-50%);
        left: 50%;
    }

    &::after {
        position: absolute;
        content: '';
        border-bottom: 2px solid orange;
        width: 40px;
        bottom: -5px;
        left: 50%;
        transform: translate(-50%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}