.title {
    text-align: center;
    position: relative;
    padding-bottom: 2%;
    margin-bottom: 5%;
    font-size: 22px;
    padding-top: 10px;
    font-weight: bold;
    z-index: 2;

    &::before {
        position: absolute;
        content: '';
        width: 60px;
        height: 3px;
        border-bottom: 3px solid orange;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        z-index: 1;
    }

    &::after {
        position: absolute;
        content: '';
        width: 30px;
        height: 3px;
        border-bottom: 3px solid var(--secondary);
        bottom: -6px;
        left: 50%;
        transform: translate(-50%);
        z-index: 1;
    }
}